<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Bethany's Pie Shop</title>
</head>
<body>
    <div>
        @*will be replaced with the view's dynamic part*@
        @RenderBody()
    </div>
</body>
</html>
