@*
    - make the view type in an IEnumerable of pies
    - can now access properties on the model passed
*@
@*
    - no longer use Pie models but instead use PieListViewModels
    - @model IEnumerable<BethanysPieShop.Models.Pie>
*@
@model PieListViewModel

@{
    Layout = "_Layout";
}

<h1>@Model.CurrentCategory</h1>
@foreach(var pie in Model.Pies)
{
    <div>
        <h2>@pie.Name</h2>
        <h3>@pie.Price.ToString("c")</h3>
        <h4>@pie.Category.CategoryName</h4>
    </div>
}